{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/css/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/vendor/boxicons/css/boxicons.min.css' %}" >
<!--<link rel="stylesheet" href="{% static 'User_account/css/font-awesome.css' %}">-->
        <link rel="stylesheet" href="{% static 'User_account/main.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/vendor/boxicons/css/boxicons.min.css' %}" > 
        <title>rentalink_systems</title>
        {% block css %}
        <style>


        
        </style>
        
        {% endblock %}
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="mycontainer ">
                <!--<div class="container-fluid px-0">-->
                    <nav class="navbar navbar-expand-md bg-white  sticky-top"> 
                        <a class="navbar-brand " href="#">
                            <img src="{% static 'User_account/images/rentalink1.png' %}" width="50px" ><strong class="text-primary">rentalinks</strong>
                        </a> 
                        <button class="navbar-toggler mr-3 border border-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
                            <i class="fa fa-bars  text-primary"></i> 
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav m-xl-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tenant services
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu1" aria-labelledby="navbarDropdown1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <i class="fa fa-dollar-sign"></i> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online Rent Payment</h6> <small class="text-muted">paying rent</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-id-card"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online applications</h6> <small class="text-muted">booking of rooms</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-gavel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">maintenance requests</h6> <small class="text-muted">repairs to be done</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-store"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">stores</h6> <small class="text-muted">availability of stores</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-user-alt"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Renter Profile</h6> <small class="text-muted">profile of the renter</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-search-plus"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">explore rentals</h6> <small class="text-muted">availability of houses</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                               
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        landlord services
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu2" aria-labelledby="navbarDropdown2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-dollar-sign"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online payment</h6> <small class="text-muted">collect rent online</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-file-excel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Accounting</h6> <small class="text-muted">manage your accounting</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-comments"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0"> instant communication</h6> <small class="text-muted">send messages to each tenant</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-building"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Automatic listing</h6> <small class="text-muted">vacant rooms posted to tenants</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-search"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Tenant screening</h6> <small class="text-muted">get info about tenants</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-file-pdf"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Report generation</h6> <small class="text-muted">printable reports</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-store"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Store management</h6> <small class="text-muted">managing online application for storage</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-gavel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Maintenance requests</h6> <small class="text-muted">manage maintenance  requests</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-paper-plane"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online notices </h6> <small class="text-muted">send notices online</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Property Types
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu3" aria-labelledby="navbarDropdown3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-feed"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Student Housing</h6> <small class="text-muted">For students and residents</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-question"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Commercial properties</h6> <small class="text-muted">For businesses</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item login mr-5">
                                    <a class="nav-link button border border-primary  ">login</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link button bg-primary  text-center">signup</a>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                    <!--This is the row below navigation-->
                    <div class="row p-0 m-0 " id="section1" style="height: 400px;background-image: url({% static 'User_account/images/section1.jpg' %});
                    background-size: cover;background-repeat: no-repeat;opacity: 1;"> 
                    <div class="image_text mx-auto text-center mb-5">
                        <div class="welcome_text ">rentalinks, best solution for tenants and landlords</div>
                        <div class="description_text btn mt-2">get started </div>
                    </div>     
                    </div>
                    <!--this is the row that contains the features-->
                    <div class="row mt-5 mb-5 ">
                        <div class="col-12 text-center"><h1 class="pt-5 pb-1 text-primary">Simple & Effective Features</h1>
                        </div>

  





                        <div class="row ">
                            <div id="accordion" class=" col-md-10 mx-auto" >
                                <div class="card">
                                  <div class="card-header  " id="headingOne">
                                    <h5 class="mb-0 mx-auto">
                                      <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseOne" 
                                      aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-dollar-sign p-2 text-success"></i>Online payment
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="false" aria-controls="collapseTwo">
                                       <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-building p-2 text-success"></i>
                                        Automatic listing
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                  <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                      <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseThree" 
                                      aria-expanded="false" aria-controls="collapseThree">
                                      <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                      <i class="fa fa-id-card p-2 text-success"></i>
                                        Online rental applications
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseFour" 
                                        aria-expanded="false" aria-controls="collapseFour">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-search p-2 text-success"></i>
                                          Tenant and Landlord screening
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingFive">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseFive" 
                                        aria-expanded="false" aria-controls="collapseFive">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-store p-2 text-success"></i>
                                          Online store application and management
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingsix">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapsesix" 
                                        aria-expanded="false" aria-controls="collapsesix">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-gavel p-2 text-success"></i>
     
                                        Online Maintenance requests and equipment tracking
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapsesix" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingseven">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseseven" 
                                        aria-expanded="false" aria-controls="collapseseven">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-comments p-2 text-success"></i>
                                          Direct online communication
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="card">
                                    <div class="card-header" id="headingeight">
                                      <h5 class="mb-0">
                                        <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseight" 
                                        aria-expanded="false" aria-controls="collapseight">
                                        <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-file-pdf p-2 text-success"></i>
                                          Accounting, reports generation and printable receipts
                                        </button>
                                      </h5>
                                    </div>
                                    <div id="collapseight" class="collapse" aria-labelledby="headingeight" data-parent="#accordion">
                                      <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                            </div>
                                            <div class="col-sm-8">
                                             <p class="text-secondary pt-3">
                                                 Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                                 services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                                 for other services. 
                                                 
                                                </p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>







                    

                        
                    </div>
                    </div>
                    <div class="row mt-5 p-0 m-0">



                        
                          
                          <div class="col-lg-12  pt-5 pb-5 bg-primary text-light">
                              <h2 class="text-center mb-4 " style="font-weight: 900;">why landlords and tenants love rentalinks</h2>
                            <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:300px;">
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active text-center p-4">
                                  <blockquote class="blockquote text-center ">
                                    <p class="mb-0"><i class="fa fa-quote-left"></i> Everybody is a genius. But if you judge a fish by its ability to climb a tree, it will live its whole life believing that it is stupid.
                                    </p>
                                    <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star-half-alt"></i>
                                      <i class="far fa-star"></i>
                                    </p>
                                    <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                  
                                </div>
                                <div class="carousel-item text-center p-4">
                                  <blockquote class="blockquote text-center">
                                    <p class="mb-0"><i class="fa fa-quote-left"></i> Imagination is more important than knowledge. Knowledge is limited. Imagination encircles the world.
                                    </p>
                                    <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                    </p>
                                    <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                </div>
                                <div class="carousel-item text-center p-4">
                                  <blockquote class="blockquote text-center">
                                    <p class="mb-0"><i class="fa fa-quote-left"></i> A person who never made a mistake never tried anything new.
                                    </p>
                                    <footer class="blockquote-footer">Albert Einstein <cite title="Source Title">genius</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                    </p>
                                    <img src="{% static 'User_account/images/mpesa.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                </div>
                              </div>
                              <ol class="carousel-indicators">
                                <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                                <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
                              </ol>
                            </div>
                          </div>





                    </div>
                    <div class="row mt-5 mb-5" >
                        <div class="col-12 text-center">
                            <h1 class="pl-4 pt-5">Designed For All Property Types</h1>
                            <p class=" text-secondary">Rentalink systems has the versatility to accommodate each of your properties, <br>
                                from student units to commercial space. Regardless of your portfolio, we’ve got you covered.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'User_account/images/student_housing.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Student Housing</h4>
                                  <p class="card-text text-secondary text-center">Most students dont know even how to write a cheque. Make their lives easier to 
                                      to make your life easier
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'User_account/images/residential_housing.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Commercial Premises</h4>
                                  <p class="card-text text-secondary text-center">
                                      Give your commercial tenants the proffessional experience they deserve.
                                      
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'User_account/images/commercial_houses.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Residential Houses</h4>
                                  <p class="card-text text-secondary text-center">
                                      Automation and powerful tools make managing your residential properties simpler than ever.
                                      
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>

                    </div>


                    <div class="row mb-5 mt-5 pb-5">
                        <div class="col-12 text-left">
                            <h1 class="pl-4 pt-5 text-black">Explore Rentals Around Moi University</h1>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style=" width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'User_account/images/student_housing.svg' %}" alt="Card image">
                                
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'User_account/images/plot3.jpg' %}" alt="Card image">
            
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style=" width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'User_account/images/plot2.jfif' %}" alt="Card image" style="object-fit: cover;">
                                
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'User_account/images/plot1.jpg' %}" alt="Card image" style="object-fit: cover;">
                                
                              </div>
                            
                        </div>
                    </div>


                    <div class=" mt-5">


                        <!--Important link source from https://bootsnipp.com/snippets/ooa9M-->

<footer id="dk-footer" class="dk-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <img src="{% static 'User_account/images/rentalink1.png' %}"  alt="footer_logo" width="50px" class="img-fluid">
                        </a>
                        <p class="footer-info-text">
                           Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-facebook bg-primary"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-twitter bg-info"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-google-plus bg-danger"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-linkedin bg-primary"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-instagram bg-danger"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                    <div class="footer-awarad">
                        <img src="{% static 'User_account/images/rentalink1.png' %}" alt="" width="70px">
                        <p>Best Rental Management Software 2021</p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Moi University</h3>
                                    <p>Kesses road</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>+254 721 480230</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget text-white">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Team</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="#">Faq</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2019, All Right Reserved Seobin</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <!-- End Back to top -->
</footer>

                            
                        </div>




                    </div>
                
            </div>
            
        </div>
        <script src="{% static 'User_account/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'User_account/vendor/jquery/jquery-2.2.4.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.js' %}"></script>


        <script>
            $(document).ready(function(){
                //trying hide and show when clicked
                
                // Add minus icon for collapse element which is open by default
               /* $(".collapse show").each(function(){
                    $(this).siblings(".card-header").find(".btn i").html("remove");
                });
                
                // Toggle plus minus icon on show hide of collapse element
                /*$(".collapse").on('show.bs.collapse', function(){
                    $(this).parent().find(".card-header .btn i").html("remove");
                }).on('hide.bs.collapse', function(){
                    $(this).parent().find(".card-header .btn i").html("add");
                });
            });
            </script>
    </body>
</html>