{% extends 'nyumba/tenant/tenant_base.html' %}
{% load static %}

{% block content %}

<section class="tenant_main_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="container-fluid py-5 mx-auto">
            <div class="card py-4 px-4">
                <div class="row justify-content-start px-3">
                    <div class="image-bg mr-3"> <img class="user-img fit-image" src="https://i.imgur.com/RCwPA3O.jpg"> </div>
                    <div class="text-left">
                        <h2>Kiera Hill</h2>
                        <h6>10 ITEMS - 21 SALE - 8 COMMENTS</h6> <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star active"></span> <span class="fa fa-star"></span>
                    </div>
                    <div class="btn btn-pink ml-auto">FOLLOW</div>
                </div>
                <div class="line"></div>
                <div class="row d-flex justify-content-between px-3">
                    <div class="prod-bg text-center py-1"><img class="prod-pic" src="https://i.imgur.com/6bdzZKE.png"></div>
                    <div class="prod-bg text-center py-1"><img class="prod-pic" src="https://i.imgur.com/CGaJoDY.png"></div>
                    <div class="prod-bg text-center py-1"><img class="prod-pic fat-img" src="https://i.imgur.com/8JVdjVT.png"></div>
                    <div class="prod-bg text-center py-1"><img class="prod-pic" src="https://i.imgur.com/uJGwaIy.png"></div>
                    <div class="more text-center pt-3">
                        <h1 class="mb-0 dk-none dk-sm-block"><strong>+6</strong></h1>
                        <h5>ITEMS</h5>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-6 pt-5">
          <h5 class=" card-title text-center">Rental applications</h5>
          <div class="row">
            
            <div class="col-6" style="">
              <div id="circle" class="mx-auto text-center" >
                <i class="fa fa-plus text-success ">add </i>
              </div>
              </div>
              <div class="col-6" >
                <div class="application_checkboxes">
                    <div class="custom-control custom-checkbox ">
                      <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                      <label class="custom-control-label" for="customCheck">new</label>
                      </div>
                      <div class="custom-control custom-checkbox ">
                      <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                      <label class="custom-control-label" for="customCheck">pending</label>
                      </div>
                      <div class="custom-control custom-checkbox ">
                        <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                        <label class="custom-control-label" for="customCheck">approved</label>
                        </div>
                        <div class="custom-control custom-checkbox ">
                          <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                          <label class="custom-control-label" for="customCheck">declined</label>
                      </div>
                      </div>
                  </div>
              </div>
            
          </div>
        </div>
        

        


      
      <div class="row">







              <div class="col-md-3 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="{% static 'User_account/images/mpesa.png' %}">
                              <img class="pic-2" src="{% static 'User_account/images/rentalink1.png' %}">
                          </a>
                           <span class="product-sale-label">sale!</span>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                              <ul class="rating">
                                  <li class="fas fa-star"></li>
                                  <li class="fas fa-star"></li>
                                  <li class="fas fa-star"></li>
                                  <li class="far fa-star"></li>
                                  <li class="far fa-star"></li>
                              </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Men's Shirt</a></h3>
                          <div class="price"><span>$28.00</span>$20.00</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="product-grid">
                      <div class="product-image">
                          <a href="#" class="image">
                              <img class="pic-1" src="{% static 'User_account/images/mpesa.png' %}">
                              <img class="pic-2" src="{% static 'User_account/images/mpesa.png' %}">
                          </a>
                          <ul class="social">
                              <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                              <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                          </ul>
                          <div class="product-rating">
                              <ul class="rating">
                                  <li class="fas fa-star"></li>
                                  <li class="fas fa-star"></li>
                                  <li class="fas fa-star"></li>
                                  <li class="far fa-star"></li>
                                  <li class="far fa-star"></li>
                              </ul>
                              <a class="add-to-cart" href="#"> ADD TO CART </a>
                          </div>
                      </div>
                      <div class="product-content">
                          <h3 class="title"><a href="#">Women's Tshirt</a></h3>
                          <div class="price">$19.00</div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#" class="image">
                            <img class="pic-1" src="{% static 'User_account/images/mpesa.png' %}">
                            <img class="pic-2" src="{% static 'User_account/images/rentalink1.png' %}">
                        </a>
                         <span class="product-sale-label">sale!</span>
                        <ul class="social">
                            <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                        </ul>
                        <div class="product-rating">
                            <ul class="rating">
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="fas fa-star"></li>
                                <li class="far fa-star"></li>
                                <li class="far fa-star"></li>
                            </ul>
                            <a class="add-to-cart" href="#"> ADD TO CART </a>
                        </div>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Men's Shirt</a></h3>
                        <div class="price"><span>$28.00</span>$20.00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="{% static 'User_account/images/mpesa.png' %}">
                          <img class="pic-2" src="{% static 'User_account/images/rentalink1.png' %}">
                      </a>
                       <span class="product-sale-label">sale!</span>
                      <ul class="social">
                          <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                          <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li>
                      </ul>
                      <div class="product-rating">
                          <ul class="rating">
                              <li class="fas fa-star"></li>
                              <li class="fas fa-star"></li>
                              <li class="fas fa-star"></li>
                              <li class="far fa-star"></li>
                              <li class="far fa-star"></li>
                          </ul>
                          <a class="add-to-cart" href="#"> ADD TO CART </a>
                      </div>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Men's Shirt</a></h3>
                      <div class="price"><span>$28.00</span>$20.00</div>
                  </div>
              </div>
          </div>
          









        
      </div>
      <div class="row">








        <section id="team" class="pb-5">
          <div class="container">
              <h5 class="section-title h1">available stores</h5>
              <div class="row">
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" >
                          <div class="mainflip flip-0">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
                  <!-- Team member -->
                  <div class="col-xs-12 col-sm-6 col-md-4">
                      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                          <div class="mainflip">
                              <div class="frontside">
                                  <div class="card">
                                      <div class="card-body text-center">
                                          <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                          <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="backside">
                                  <div class="card">
                                      <div class="card-body text-center mt-4">
                                          <h4 class="card-title">Sunlimetech</h4>
                                          <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                          <ul class="list-inline">
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-facebook"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-twitter"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-skype"></i>
                                                  </a>
                                              </li>
                                              <li class="list-inline-item">
                                                  <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                                                      <i class="fa fa-google"></i>
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- ./Team member -->
      
              </div>
          </div>
      </section>









      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 300px; height: 300px;">Maintenance requests</div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 300px; height: 300px;">Rentalink messenger</div>
        </div>
        <div class="col-md-4" style="width: 300px; height: 300px;">notices and information</div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card" style="width: 300px; height: 300px;">store applications</div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 300px; height: 300px;">tips and tricks</div>
        </div>
        <div class="col-md-4" style="width: 300px; height: 300px;">calendar</div>
      </div>
        

      </div>
      <div class="row">news and updates important for the tenant</div>
    </div>
    
  </section>
  {% endblock %}